<app-header></app-header>
<main>
    <br>
    <div class="container p-5">
        <div class="row">
      
        <form #libroForm="ngForm">
            <div class="mb-3">
                <label for="titulo" class="form-label">Ingrese titulo del Libro</label>
                <input type="text" class="form-control" id="titulo" [(ngModel)]="libro.titulo" name="titulo" #titulo="ngModel" required>
                <div class="alert alert-danger" *ngIf="titulo.invalid &&(titulo.dirty||titulo.touched)">
                    <div *ngIf="titulo.errors?.['required']">
                      No introduciste el titulo
                    </div>
                </div>  
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Ingrese Descripcion del Libro</label>
                <input type="text" class="form-control" id="descripcion" [(ngModel)]="libro.descripcion" name="descripcion" #descripcion="ngModel" required>
                <div class="alert alert-danger" *ngIf="descripcion.invalid &&(descripcion.dirty||descripcion.touched)">
                    <div *ngIf="descripcion.errors?.['required']">
                      No introduciste una descripcion
                    </div>
                </div>  
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">Imangen</label>
                <input type="file" id="imagen" alife-file-to-base64 multiple
                (onFileChanged)="onFileChanges($event)"
                accept="image/x-png,image/gif,image/jpeg" />
            </div>  
            <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="stock" [(ngModel)]="libro.stock" name="stock" #stock="ngModel" required min="0">
                <div class="alert alert-danger" *ngIf="stock.invalid &&(stock.dirty||stock.touched)">
                    <div *ngIf="stock.errors?.['required']">
                      No introduciste ningun valor
                    </div>
                    <div *ngIf="stock.errors?.['min']">
                        Valor minimo 0
                    </div>
                </div>  
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Destacado?</label>
                <br>
                <label for="destacadosi">si</label>
                <input type="radio" [value]="true" id="destacado" name="destacado" [(ngModel)]="libro.destacado" >
                <br>
                <label for="destacadono">no</label>
                <input type="radio" name="destacado" id="destacado" [value]="false" [(ngModel)]="libro.destacado">
            </div>
              <div class="mb-3">
                <input class="btn btn-primary" type="submit" (click)="altaLibro()" [disabled]="libroForm.invalid">
              </div>
        </form>
        </div>
    </div>
    <br>
</main>
<app-footer></app-footer>